<div class="mb-3">
  <strong>Author:</strong>
  <%= comment.author %>
</div>

<div class="mb-3">
  <strong>Comment:</strong>
  <%= comment.body %>
</div>
<i class="fa fa-trash pb-3" aria-hidden="true"> <%= link_to 'Delete comment', [comment.article, comment], method: :delete, data: {confirm: "Are you sure?"} %></i>
<hr>